<div class="wrapper-button">
  <% if (name==='user' ) { %>
  <button name="<%= name %>" class="<%= inHtml %>">
    <i class="fa-solid <%= icon %>"></i>
    <span> <%= title %> </span>
  </button>

  <% } else if (name==='submit' ) { %>
  <button id="<%= name %>" type="submit" name="<%= name %>" class="<%= inHtml %>"></button>

  <% } else { %>
  <button id="<%= name %>" name="<%= name %>" class="<%= inHtml %>">
    <span> <%= title %> </span>
    <i class="fa-solid <%= icon %>"></i>
  </button>
  <% } %>
</div>