<div class="wrapper-button">
  <% if (id==='user' ) { %>
  <button id="<%= id %>" class="<%= inHtml %>">
    <i class="fa-solid <%= icon %>"></i>
    <span> <%= title %> </span>
  </button>

  <% } else if (id==='submit' ) { %>
  <button id="<%= id %>" type="submit" class="<%= inHtml %>"></button>

  <% } else { %>
  <button id="<%= id %>" class="<%= inHtml %>">
    <% if (title) { %>
    <span> <%= title %> </span>
    <% } %>
    <i class="fa-solid <%= icon %>"></i>
  </button>
  <% } %>
</div>