<div class="wrapper-input">
  <% if (title) { %>
  <span>
    <%= title %>
  </span>
  <% } %>
  <% if (name==='password' || name==='rePassword' ) { %>
  <input name="<%= name %>" type="password" class="<%= inHtml %>">

  <% } else { %>
  <input name="<%= name %>" type="text" class="<%= inHtml %>">
  <% } %>
</div>