<div class="wrapper-input">
  <% if (title) { %>
  <span>
    <%= title %>
  </span>
  <% } %>
  <% if (id==='password' || id==='rePassword' ) { %>
  <input id="<%= id %>" name="<%= id %>" type="password" class="<%= inHtml %>">

  <% } else { %>
  <input id="<%= id %>" name="<%= id %>" type="text" class="<%= inHtml %>">
  <% } %>
</div>