<section id="client" class="page mes">
  <div class="content">
    <div class="top">
      <div class="header">
        <div class="left">
          <div class="wrapper-form">
            <form id="search" class="client">
              <%- include('../components/select', { id: 'type', inHtml: 'header', title: '구분' , values: types }); %>
              <%- include('../components/input', { id: 'company', inHtml: 'header', title: '거래처 명' }); %>
            </form>
          </div>
        </div>
        <div class="right">
          <%- include('../components/button', { id: 'search' ,inHtml: 'header', title: '조회' , icon: '' }); %>
          <%- include('../components/button', { id: 'print' , inHtml: 'header', title: '출력' , icon: '' }); %>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="contents">
        <div class="left">
          <div class="table">
            <div class="head">
              <div class="th">
                <span>카테고리</span>
              </div>
              <div class="th">
                <span>거래처 명</span>
              </div>
              <div class="th">
                <span>담당자 명</span>
              </div>
              <div class="th">
                <span>담당자 연락처</span>
              </div>
            </div>
            <div class="body">
              <div id="list" class="client">
                <% clients.forEach((client)=> { %>
                <%- include('../components/row', { inHtml: 'list', row: client, page: 'client',  }); %>
                <% }); %>
                <%- include('../templates/row' , { id: "row", inHtml: 'list', row: {}, page: 'client' }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="detail">
            <div class="top">
              <form id="saveUpdate" class="client">
                <%- include('../components/input', { id:'company',inHtml: 'detail', title: '거래처 명'  }); %>
                <%- include('../components/input', { id:'address',inHtml: 'detail', title: '주소'  }); %>
                <%- include('../third-party/post-code', { inHtml: 'detail' }); %>
                <%- include('../components/select', { id:'type', inHtml: 'detail', title: '유형' ,  values: types}); %>
                <%- include('../components/input', { id:'tel', inHtml: 'detail', title: '번호'  }); %>
                <%- include('../components/input', { id:'fax', inHtml: 'detail', title: '팩스'  }); %>
                <%- include('../components/input', { id:'tax_no', inHtml: 'detail', title: '사업자 등록 번호' }); %>
                <%- include('../components/input', { id:'corp_no', inHtml: 'detail', title: '법인 등록 번호' }); %>
                <%- include('../components/input', { id:'manager_name', inHtml: 'detail', title: '담당자 명' }); %>
                <%- include('../components/input', { id:'manager_tel', inHtml: 'detail', title: '담당자 연락처' }); %>
                <%- include('../components/input', { id:'ceo_name', inHtml: 'detail', title: '대표 명' }); %>
                <%- include('../components/input', { id:'ceo_tel', inHtml: 'detail', title: '대표 연락처' }); %>
                <%- include('../components/textarea', { id:'comment', inHtml: 'detail', title: '메모' }); %>
              </form>
            </div>
            <div class="bottom">
              <%- include('../components/button', { id: 'create', inHtml: 'detail', title: '신규' , icon: '' }); %>
              <%- include('../components/button', { id: 'save', inHtml: 'detail', title: '저장' , icon: '' }); %>
              <%- include('../components/button', { id: 'delete', inHtml: 'detail', title: '삭제' , icon: '' }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>