<section id="product" class="page">
  <div class="content">
    <div class="top">
      <div class="header">
        <div class="left">
          <div class="wrapper-form">
            <form id="search" class="product">
              <%- include('../components/select', { title: '종류' , name: 'item' , values: [] , inHtml: 'header' }); %>
              <%- include('../components/input', { title: '제품명' , name: 'temp' , inHtml: 'header' }); %>
            </form>
          </div>
        </div>
        <div class="right">
          <%- include('../components/button', { title: '조회' , id: 'search' , icon: '' , inHtml: 'header' }); %>
          <%- include('../components/button', { title: '출력' , id: 'print' , icon: '' , inHtml: 'header' }); %>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="contents">
        <div class="left">
          <div class="list">
            <div class="head">
              <div class="th">
                <span>제품 종류</span>
              </div>
              <div class="th">
                <span>제품 명</span>
              </div>
              <div class="th">
                <span>포장 단위</span>
              </div>
              <div class="th">
                <span>가격</span>
              </div>
            </div>
            <div class="body">
              <div id="product" class="list"></div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="detail">
            <div class="top">
              <form id="saveUpdate" class="product">
                <%- include('../components/input', { title: '제품 명' , name: '' , inHtml: 'detail' }); %>
              </form>
            </div>
            <div class="bottom">
              <%- include('../components/button', { title: '신규' , id: 'create' , icon: '', inHtml: 'detail' }); %>
              <%- include('../components/button', { title: '저장' , id: 'save' ,icon: '' , inHtml: 'detail' }); %>
              <%- include('../components/button', { title: '삭제' , id: 'delete' ,icon: '' , inHtml: 'detail' }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>