<section id="user" class="page">
  <div class="content">
    <div class="top">
      <div class="header">
        <div class="left">
          <div class="wrapper-form">
            <form id="search" class="user">
              <%- include('../components/input', { title: '부서 명' , name: '' , inHtml: 'header' }); %>
              <%- include('../components/input', { title: '이름' , name: 'name' , inHtml: 'header' }); %>
              <%- include('../components/checkbox', { title: '퇴사자 제외' , name: '' , inHtml: 'header' }); %>
            </form>
          </div>
        </div>
        <div class="right">
          <%- include('../components/button', { title: '조회' , id: 'search' , icon: '' , inHtml: 'header' }); %>
          <%- include('../components/button', { title: '출력' , id: 'print' , icon: '' , inHtml: 'header' }); %>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="contents">
        <div class="left">
          <div class="list">
            <div class="head">
              <div class="th">
                <span>사용자 id</span>
              </div>
              <div class="th">
                <span>사용자 명</span>
              </div>
              <div class="th">
                <span>부서명</span>
              </div>
              <div class="th">
                <span>담당 업무</span>
              </div>
            </div>
            <div class="body">
              <div id="user" class="list"></div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="detail">
            <div class="top">
              <form id="saveUpdate" class="user">
                <%- include('../components/input', { title: '제품 명' , name: '' , inHtml: 'detail' }); %>
                <%- include('../components/input', { title: '주소' , name: 'address' , inHtml: 'detail' }); %>
              </form>
            </div>
            <div class="bottom">
              <%- include('../components/button', { title: '신규' , id: 'create' , icon: '' ,inHtml: 'detail' }); %>
              <%- include('../components/button', { title: '저장' , id: 'save' ,icon: '' , inHtml: 'detail' }); %>
              <%- include('../components/button', { title: '삭제' , id: 'delete' ,icon: '' , inHtml: 'detail' }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>