<section id="video" class="page tube">
  <div class="content">
    <div class="contents">
      <% for(let i=0;i<videos.length;i++) { %>
      <% if (i<5) { %>
      <div class="container">
        <video src="<%= videos[i].path %>"></video>
        <%- include('../components/controls') %>
      </div>
      <% continue; %>
      <% } %>
      <% break; %>
      <% } %>
      <%- include('../components/button', { id: 'add', title: '', icon: 'fa-plus', inHtml: 'contents' }); %>
      <%- include('../components/popup', { id: 'genre', icon: 'fa-plus', inHtml: 'contents' }); %>
      <%- include('../templates/controls', { video: '', inHtml: 'contents' }); %>
    </div>
  </div>
</section>