<section id="video" class="page tube">
  <div class="content">
    <div class="contents">
      <% for(let i=0;i<videos.length;i++) { %>
      <% if (i<5) { %>
      <div class="container">
        <video id="<%= videos[i].id %>" src="<%= videos[i].path %>" poster="<%= videos[i].poster %>" loop></video>
        <%- include('../components/controls') %>
      </div>
      <% continue; %>
      <% } %>
      <% break; %>
      <% } %>
      <%- include('../components/button', { id: 'addition', inHtml: 'contents', title: '', icon: 'fa-plus'}); %>
      <%- include('../components/popup', { id: 'genre', inHtml: 'contents', icon: 'fa-plus'}); %>
      <%- include('../templates/controls', { id: 'controls', inHtml: 'contents' }); %>
    </div>
  </div>
</section>