<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="stylesheet" href="/public/css/styles.css">
  <script src="https://kit.fontawesome.com/92eb8681b8.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="root">
    <%- include('../partials/header') %>
    <div class="wrapper-nav">
      <nav>
        <%- include('../components/list', { title: 'Videos' , depth: '' , icon: 'fa-video', link: '/videos' , isClick: '' }); %>
        <%- include('../components/list', { title: 'Images' , depth: '' , icon: 'fa-image', link: '/images' , isClick: '' }); %>
      </nav>
    </div>
    <main>
      <% if (url==='/images' ) { %>
      <%- include('../pages/image') %>

      <% } else if (url==='/videos' ) { %>
      <%- include('../pages/video'); %>

      <% } %>
    </main>
    <%- include('../partials/footer') %>
  </div>
  <%- include('../scripts/user') %>
  <%- include('../scripts/genres') %>

  <% if (url==='/videos') { %>
  <%- include('../scripts/videos') %>

  <% } else if (url==='/images') { %>
  <%- include('../scripts/images') %>

  <% } %>
  <script src="/public/js/tube.js"></script>

  <% if (url==='/images' ) { %>
  <script src="/public/js/image.js"></script>

  <% } else if (url==='/videos' ) { %>
  <script src="/public/js/video.js"></script>
  <% } %>
</body>

</html>