<section id="user" class="page mes">
  <div class="content">
    <div class="top">
      <div class="header">
        <div class="left">
          <div class="wrapper-form">
            <form id="search" class="user">
              <%- include('../components/input', { id: 'department' , inHtml: 'header' , title: '부서 명' }); %>
              <%- include('../components/input', { id: 'name' ,inHtml: 'header' ,  title: '이름' }); %>
              <%- include('../components/checkbox', { id: 'fired' , inHtml: 'header' , title: '퇴사자 제외' }); %>
            </form>
          </div>
        </div>
        <div class="right">
          <%- include('../components/button', { id: 'search' , inHtml: 'header', title: '조회' , icon: ''  }); %>
          <%- include('../components/button', { id: 'print' , inHtml: 'header', title: '출력' ,  icon: '' }); %>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="contents">
        <div class="left">
          <div class="table">
            <div class="head">
              <div class="th">
                <span>사용자 id</span>
              </div>
              <div class="th">
                <span>사용자 명</span>
              </div>
              <div class="th">
                <span>부서명</span>
              </div>
              <div class="th">
                <span>담당 업무</span>
              </div>
            </div>
            <div class="body">
              <div id="list" class="user"></div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="detail">
            <div class="top">
              <form id="saveUpdate" class="user">
                <%- include('../components/input', { id: 'name' , inHtml: 'detail' , title: '제품 명' }); %>
                <%- include('../components/input', { id: 'address', inHtml: 'detail' , title: '주소' }); %>
              </form>
            </div>
            <div class="bottom">
              <%- include('../components/button', { id: 'create' , inHtml: 'detail' ,  title: '신규' , icon: '' , }); %>
              <%- include('../components/button', { id: 'save' ,inHtml: 'detail' , title: '저장' , icon: '' ,  }); %>
              <%- include('../components/button', { id: 'delete' ,inHtml: 'detail' , title: '삭제' ,  icon: '' , }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>