<div class="wrapper-select">
  <span>
    <%= title %>
  </span>
  <select id="<%= id %>" name="<%= id %>" class="<%= inHtml %>">
    <% if (url==='/commodity' && id==='item_id' ) { %>
    <% } else { %>
    <option value=""></option>
    <% values.forEach((value)=>{ %>
    <option value="<%= value %>">
      <%= value %>
    </option>
    <% }) %>
    <% } %>
  </select>
</div>