<div class="wrapper-nav">
  <nav>
    <%- include('default', { id: 'default' }); %>
    <%- include('commodity-management', { id: 'commodity' }); %>
    <%- include('operation-management', { id: 'operation' }); %>
    <%- include('product-management', { id: 'product' }); %>
    <%- include('aggregate-management', { id: 'aggregate' }); %>
  </nav>
</div>