<div id="nav" class="partial">
  <nav>
    <%- include('default', { name: 'default' }); %>
    <%- include('commodity-management', { name: 'commodity' }); %>
    <%- include('operation-management', { name: 'operation' }); %>
    <%- include('product-management', { name: 'product' }); %>
    <%- include('aggregate-management', { name: 'aggregate' }); %>
  </nav>
</div>